<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />

    <customErrors mode="Off" />
    <authorization>
      <allow users="*" />
    </authorization>
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal" />
    </securityPolicy>
    <trust level="Full" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
        <add name="Documentation" />
      </protocols>
    </webServices>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" >
      <remove name="UrlRoutingModule"/>
    </modules>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Headers" value="accept, content-type" />
        <add name="Access-Control-Allow-Origin" value="http://localhost:8101" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />-->
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ScriptHandlerFactory" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <!--<add name="gpsConString" connectionString="Data Source=localhost; Initial Catalog=raasapp; MultipleActiveResultSets =True;  MAX Pool Size=50000; timeout=500000; integrated security=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="gpsConString" connectionString="Data Source=DHARAMPAL; Initial Catalog=GPSGodawari; Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <add name="mySQLconn" connectionString="Data Source=localhost;Database=test;User ID=root; Password=''" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>